{% load static from static %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6HZ831LN1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-Z6HZ831LN1');
        </script>
        <title>Federico Auster</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo_icon.ico' %}">
    </head>
    <body onload="myFunction()" style="margin:0;">

        <div id="loader"></div>

        <div style="display: none;" id="myDiv" class="animate-bottom"></div>

            <section id="header">
                <header>
                    <h1>Federico Auster</h1>
                    <p>{% translate "Desarrollador web" %}</p>
                </header>
                <ul class="icons">
                    <li>
                        <a href="https://www.linkedin.com/in/feaus/" class="icon brands linkedin" target="_blank">
                            <span class="label">
                                <img src="{% static 'logo_linkedin2.png' %}" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/feaus" class="icon brands github" target="_blank">
                            <span class="label">
                                <img src="{% static 'logo_github2.png' %}" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1_27IsCXQ9XYTI9ITgxHVUUE1DnWoVdw3/view?usp=sharing" class="icon brands resume" target="_blank">
                            <span class="label">
                                <img src="{% static 'logo_resume2.png' %}" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
                <footer>
                    <a href="#banner" class="button style2 scrolly-middle">Sobre mí</a>
                </footer>
            </section>

            <section id="banner">
                <header>
                    <h2>Sobre mí</h2>
                </header>
                <p>Soy un estudiante de Ciencias de la Computación en la UBA, y arquitecto recibido.<br/>
                Es mi objetivo desarrollarme como programador, especialmente en el desarrollo web.<br/>
                Disfruto mucho de los desafíos, ya que siempre se pueden aprender cosas nuevas de ellos.</p>
                <footer>
                    <a href="#project-1" class="button style2 scrolly">Ver proyectos</a>
                </footer>
            </section>

            {% for art in article %}
            <div id="main-wrapper">
                <div class="container">
                    <div class="row gtr-200">
                        <div class="col-4 col-12-medium">
                            <div id="sidebar">
                                <section class="widget thumbnails">
                                    <div class="grid">
                                        <div class="row gtr-50">
                                            <div class="col-6"><a href="{{ art.live_view }}" class="image fit" target="_blank"><img src="{{ art.image.url }}"></a></div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-8 col-12-medium imp-medium">
                            <div id="content">
                                <section class="last">
                                    <h2>{{ art.title }}</h2>
                                    {{ art.text|safe }}

                                    {% if art.title == "Reserva de canchas de fútbol" %}
                                        <a href="{{ art.live_view }}">> Visitar la página (en desarrollo)</a> <br>
                                    {% elif art.title == "Página personal" %}
                                        <a href="{{ art.live_view }}" class="unavailable">> Visitar la página</a> <br>
                                    {% else %}
                                        <a href="{{ art.live_view }}">> Visitar la página</a> <br>
                                    {% endif %}

                                    <a href="{{ art.source_code }}">> Ver el código fuente</a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <article class="container box style3" id="email">
                <header>
                    <h2>Contacto</h2>
                    <p>Ante cualquier consulta, o si le interesó mi perfil, por favor contáctese conmigo.</p>
                </header>
                <form method="POST" action="#">
                    {% csrf_token %}
                    <div class="row gtr-50">
                        <div class="col-6 col-12-mobile"><input type="text" class="text" name="name" placeholder="Nombre" /></div>
                        <div class="col-6 col-12-mobile"><input type="text" class="text" name="email" placeholder="Email" /></div>
                        <div class="col-12">
                            <textarea name="message" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Enviar email" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </article>

            <section id="footer">
                <ul class="icons">
                    <li>
                        <a href="https://www.linkedin.com/in/feaus/" class="icon brands linkedin" target="_blank">
                            <span class="label">
                                <img src="{% static 'logo_linkedin2.png' %}" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/feaus" class="icon brands github" target="_blank">
                            <span class="label">
                                <img src="{% static 'logo_github2.png' %}" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/feaus/" class="icon brands instagram" target="_blank">
                            <span class="label">
                                <img src="{% static 'logo_instagram2.png' %}" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:federicoauster@gmail.com" class="icon brands email" target="_blank">
                            <span class="label">
                                <img src="{% static 'logo_email.png' %}" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; Federico Auster</li><li>Diseño: <a href="mailto:federicoauster@gmail.com">Federico Auster</a></li>
                    </ul>
                </div>
            </section>
        </div>
    <script>
    var myVar;

    function myFunction() {
      myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
    }
    </script>
    </body>
</html>