{% load static from static %}

<!DOCTYPE HTML>
<html>
<head>
    <title>Federico Auster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo_icon.ico' %}">
</head>
<body>
<nav id="nav">
    <ul class="container">
        <li><a href="#top">Home</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#aboutme">About me</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

</body>
</html>