{% load static from static %}
{% load i18n %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>Federico Auster</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo_icon.ico' %}">
        <!--TODO: change icon-->
    </head>
    <body>

        <section id="header">
            <header>
                <h1>Federico Auster</h1>
                <p>{% translate "Desarrollador web" %}</p>
            </header>
            <ul class="icons">
				<li>
                    <a href="https://www.linkedin.com/in/feaus/" class="icon brands linkedin" target="_blank">
                        <span class="label">
                            <img src="{% static 'logo_linkedin2.png' %}" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/feaus" class="icon brands github" target="_blank">
                        <span class="label">
                            <img src="{% static 'logo_github2.png' %}" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon brands resume" target="_blank">
                        <span class="label">
                            <img src="{% static 'logo_resume2.png' %}" alt="">
                        </span>
                    </a>
                </li>
			</ul>
            <footer>
                <a href="#banner" class="button style2 scrolly-middle">Sobre mí</a>
            </footer>

        </section>
<!--        TODO: add resume-->

        <section id="banner">
            <header>
                <h2>Sobre mí</h2>
            </header>
            <p>Soy un estudiante de Ciencias de la Computación en la UBA, y arquitecto recibido.<br/>
            Es mi objetivo desarrollarme como programador, especialmente en el desarrollo web.<br/>
            Disfruto mucho de los desafíos, ya que siempre se pueden aprender cosas nuevas de ellos.</p>
            <footer>
                <a href="#project-1" class="button style2 scrolly">Ver proyectos</a>
            </footer>
        </section>

        <div id="main-wrapper">
            <div id="project-1" class="container">
                <div class="row gtr-200">
                    <div class="col-4 col-12-medium">
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <div class="grid">
                                    <div class="row gtr-50">
                                        <div class="col-6"><a href="https://fauster.herokuapp.com/" class="image fit" target="_blank"><img src="/media/fauster.jpg"></a></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-8 col-12-medium imp-medium">
                        <div id="content">
                            <section class="last">
                                <h2>Portfolio personal de arquitectura</h2>
                                <p>Un proyecto personal de Django para mostrar mis trabajos como arquitecto. La página está compuesta por la homepage, con un field para enviar un email, un sector de blog, donde iré subiendo mis proyectos y sus procesos, y un sector "sobre mí" que se encuentra actualmente en desarrollo.</p>
                                <p>Las herramientas que se utilizaron para construir la web app son el framework de Django, HTML5 y CSS.</p>
                                <p>Esta app está hosteada en un plan gratuito de Heroku, lo que puede significar una demora en el tiempo de carga inicial de la página.</p>
                                <a href="https://fauster.herokuapp.com/">> Visitar la página</a> <br>
                                <a href="https://github.com/feaus/fauster.herokuapp.com/">> Ver el código fuente</a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main-wrapper">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-4 col-12-medium">
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <div class="grid">
                                    <div class="row gtr-50">
                                        <div class="col-6"><a href="#header" class="image fit"><img src="/media/portfolio.jpg"></a></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-8 col-12-medium imp-medium">
                        <div id="content">
                            <section class="last">
                                <h2>Página personal</h2>
                                <p>Una simple web app personal, construida en Django, para mostrar mis capacidades como desarrollador web. Está compuesta por una sola app, y con un field para enviar un email.</p>
                                <p>Las herramientas utilizadas son el framework de Django, HTML5 y CSS.</p>
                                <a href="#" class="unavailable">> Visitar la página</a> <br>
                                <a href="https://github.com/feaus/portfolio/">> Ver el código fuente</a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main-wrapper">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-4 col-12-medium">
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <div class="grid">
                                    <div class="row gtr-50">
                                        <div class="col-6"><a href="https://footballreservation.herokuapp.com/" class="image fit" target="_blank"><img src="/media/foot_res.jpg"></a></div>
<!--                                            TODO: change image-->
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-8 col-12-medium imp-medium">
                        <div id="content">
                            <section class="last">
                                <h2>Reserva de canchas de fútbol</h2>
                                <p>Se trata de un proyecto personal en desarrollo, y consiste en una web app para poder reservar canchas de fútbol online. La página permitirá a los propietarios de las canchas poder registrar sus clubes, sus canchas, y poder ingresar reservas manualmente. A su vez, los usuarios <i>jugadores</i>  podrán registrarse y reservar una cancha desde la app, y realizando el pago de la seña a través de Mercadopago, con tarjeta o con efectivo. El sistema realizará una reserva provisoria, hasta que el propietario de la cancha confirme que el pago en efectivo se concretó.</p>
                                <p>Este proyecto supone un desafío, desde el registro y loggeo de los usuarios, hasta verificaciones de seguridad, como por ejemplo que ningún usuario pueda realizar una reserva teniendo otra activa. El back-end está pronto a finalizarse, queda por terminar el front-end.</p>
                                <p>Las herramientas utilizadas hasta el momento son el framework de Django, SQL, HTML5 y CSS.</p>
                                <a href="https://footballreservation.herokuapp.com">> Visitar la página</a> <br>
                                <a href="https://github.com/feaus/foot_res/">> Ver el código fuente</a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <article class="container box style3" id="email">
            <header>
                <h2>Contacto</h2>
                <p>Ante cualquier consulta, o si le interesó mi perfil, por favor contáctese conmigo.</p>
            </header>
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="row gtr-50">
                    <div class="col-6 col-12-mobile"><input type="text" class="text" name="name" placeholder="Nombre" /></div>
                    <div class="col-6 col-12-mobile"><input type="text" class="text" name="email" placeholder="Email" /></div>
                    <div class="col-12">
                        <textarea name="message" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Enviar email" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </article>

        <section id="footer">
			<ul class="icons">
				<li>
                    <a href="https://www.linkedin.com/in/feaus/" class="icon brands linkedin" target="_blank">
                        <span class="label">
                            <img src="{% static 'logo_linkedin2.png' %}" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/feaus" class="icon brands github" target="_blank">
                        <span class="label">
                            <img src="{% static 'logo_github2.png' %}" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/feaus/" class="icon brands instagram" target="_blank">
                        <span class="label">
                            <img src="{% static 'logo_instagram2.png' %}" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="mailto:federicoauster@gmail.com" class="icon brands email" target="_blank">
                        <span class="label">
                            <img src="{% static 'logo_email.png' %}" alt="">
                            <!--TODO: change icon-->
                        </span>
                    </a>
                </li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy; Federico Auster</li><li>Diseño: <a href="mailto:federicoauster@gmail.com">Federico Auster</a></li>
				</ul>
			</div>
		</section>
    </body>
</html>